<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oi&family=Reggae+One&display=swap" rel="stylesheet">

  <title>Hello, world!</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a style="font-family: 'Reggae One', cursive;" class="navbar-brand" href="#">CODEFORCES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>


  <div style="font-family:Georgia, 'Times New Roman', Times, serif;" class="problem_holder Container">
    <h3 style="text-align: center;  font-family:Georgia, 'Times New Roman', Times, serif;">
      <%=heading%>
    </h3>
    <% for(var i=0;i<problem.length;i++){ %>

      <div class="problem_div row col-lg-6">
        <div class="col-lg-8 problem_div_inner">
          <a style="text-decoration: none;" href="<%=userlink[i]%>">
            <%=problem[i]%>
          </a>
        </div>
        <div class="col-lg-4 problem_div_inner">
          <%=problemrating[i]%>
            </lg-4>
        </div>
      </div>

      <%}%>
  </div>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

</body>

</html>